@keyframes blink-caret {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: rgb(45, 188, 228);
  }
}

.typing_animation {
  white-space: nowrap;
  border-right: 0.15em solid rgb(45, 188, 228);
  animation: blink-caret 0.95s step-end infinite;
}
