// COLORS
$whiteColor: #ffffff;
$greenColor: #00b894;
$backgroundColor: #0c121c;

// CLASSES
.green {
  color: $greenColor;
}

.white {
  color: $whiteColor;
}

.background {
  background-color: $backgroundColor;
}
